.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 4rem;
}

@media (max-width: 480px) {
  .container {
  padding-top: 2rem;
  }
}

