.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color) !important;
  margin-top: 5rem;
}

