.container {
    position: sticky;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    background-color: var(--background-color) !important;
    z-index: 999;
    height: 5rem;
    padding: 0rem 2rem;
}

.logo {
    height: 4rem;
}

.title {
    color: var(--primary-color);
    margin: 0rem 1rem !important;
}

@media (max-width: 480px) {
    .container {
        padding: 0rem 1rem;
    }
    
    .logo {
        height: 2rem;
    }
    
    .title {
        margin: 0rem 0.5rem !important;
    }
}