.container {
    padding-top: 12rem;
    padding-bottom: 12rem;
    padding-left: 24rem;
    padding-right: 24rem;
}

.header {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
}

.emptyTable {
    padding: 2rem;
    text-align: center;
}

.table {
    min-width: 650px;
}

.actionsContainer {
    display: flex !important;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}